<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088103532447-o9rqrrushbcg2pl771cm5f7ibp223sop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088103532447-o9rqrrushbcg2pl771cm5f7ibp223sop</string>
	<key>API_KEY</key>
	<string>AIzaSyA_zFaysvTFSp8B0e5akf0V4Nt3PvIJ4l4</string>
	<key>GCM_SENDER_ID</key>
	<string>1088103532447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.radio.BLOOR</string>
	<key>PROJECT_ID</key>
	<string>bloor-radio</string>
	<key>STORAGE_BUCKET</key>
	<string>bloor-radio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088103532447:ios:657de5f1fe157165299faa</string>
	<key>DATABASE_URL</key>
	<string>https://bloor-radio.firebaseio.com</string>
</dict>
</plist>